# Dependencias
/vendor/
/vendor_backup/

# Configuración sensible
/admin-xyz2025/config_secrets.php
/analytics/keys/*.json

# Logs y caché
*.log
admin-xyz2025/analytics/keys/nuevopack-545bc92e6f19.json
